body { 
    padding:0;
    margin:0;
}
/* fist part*/
.first{
    background-image:url(img/cover.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


 ul.lists{
    list-style-type: none;
    
}
li.hover {
    float: left;
}
 li.hover a:hover {
    color: white;
}

a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-family: 'Redressed', cursive;
}

.list {
    color: #c44572;
}

p.webfolk {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}

.web{
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
}

.dream{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
}

p.txt{
    text-align: center;
    color: white;

}

ul.empty{
    padding-left: 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

h2.work{
    text-align: center;
    color: white;
    background-color:#ff0048;
    font-family: 'Rajdhani', sans-serif;
}

.design{
    color: white;
    background-color: #ff0048;
    text-align: center;
}

/*second part*/

.meet{
    text-align: center;
    color:#ff0048;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.names{
    list-style-type: none;
    text-align: center;
    color:#ff0048;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
      
}

.jobs{
    list-style-type: none;
    text-align: center;
    color:#000000;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
} 

.button{
    text-align: center;
}
.btn {
    height: 35px;
    width: 300px;
}

.contact:hover {
    background-color:#ff0048;
}



